@import "variables";
@import "nomalize";
@import "fonts";
@import "icons";
@import "components/contents";
@import "components/layout";
@import "components/dashboard";
@import "components/transactions";


* {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: $color-bg;
	color: $color-dark;
}

body, button, input {
	font-family: $font-basic;
}