@font-face {
	font-family: 'euclidflexmedium';
	src: url('~static/fonts/euclidflexmedium.woff2') format('woff2'),
		url('~static/fonts/euclidflexmedium.woff') format('woff'),
		url('~static/fonts/euclidflexmedium.eot?#iefix') format('embedded-opentype'),
		url('~static/fonts/euclidflexmedium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}