@import "mixins";


%sp-ico {
	background: transparent url('../images/sp-ico.png') no-repeat;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 1.33dppx) {
		background-image: url('../images/sp-ico@2x.png');
		background-size: 300px 200px;
	}
}


.sp-ico {
	display: inline-block;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	@extend %sp-ico;
}


// base icons
.ico-person {
	background-position: 0 0;
	@include sp-size(13px, 14px);
}
.ico-setting {
	background-position: -23px 0;
	@include sp-size(17px, 17px);
}
.ico-more {
	background-position: -50px 0;
	@include sp-size(16px, 4px);
}
.ico-more-active {
	background-position: -50px -14px;
	@include sp-size(16px, 4px);
}
.ico-arrow-left {
	background-position: -76px 0;
	@include sp-size(7px, 12px);
}

// sidebar icons
.ico-gnb-home {
	background-position: 0 -36px;
	@include sp-size(20px, 16px);
}
.ico-gnb-switch {
	background-position: -37px -36px;
	@include sp-size(14px, 17px);
}
.ico-gnb-post {
	background-position: -69px -36px;
	@include sp-size(18px, 17px);
}
.ico-gnb-wallet {
	background-position: -97px -36px;
	@include sp-size(16px, 15px);
}

// status icons
.ico-status-power-off {
	background-position: 0 -80px;
	@include sp-size(16px, 16px);
}
.ico-status-power-on {
	background-position: -26px -80px;
	@include sp-size(16px, 16px);
}
.ico-status-lock {
	background-position: -52px -80px;
	@include sp-size(16px, 16px);
}
.ico-status-unlock {
	background-position: -78px -80px;
	@include sp-size(16px, 16px);
}
.ico-status-staking-on {
	background-position: -104px -80px;
	@include sp-size(16px, 16px);
}
.ico-status-staking-off {
	background-position: -130px -80px;
	@include sp-size(16px, 16px);
}