// variables


// color
$color-bg: #fafbfc;
$color-dark: #232328;
$color-weak-dark: #656568;

$color-key: #2e9ad1;
$color-light-gray: #f0f0f0;
$color-medium-gray: #e1e4e8;
$color-complete: #00b28a;
$color-error: #e75647;
$color-form-border: #a6a6a8;


// font
$font-basic: 'Arial', sans-serif;
$font-qtum: 'euclidflexmedium', 'Arial', sans-serif;


// border
$border-focus: thin dotted $color-key;


// size
$size-mini: 482px;
$size-mobile: 767px;