@import "../variables";

// basic
.button {
	$self: '.button';

	position: relative;
	display: block;
	margin: 0;
	height: 42px;
	padding: 0 20px 2px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid $color-form-border;
	color: $color-dark;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;

	&:focus {
		outline: $border-focus;
	}
	&:active {
		outline: none;
		background: mix(#fff, #000, 95%);
		border: 1px solid mix($color-form-border, #000, 90%);
	}
	&[type=button],
	&[type=submit],
	&[type=reset] {
		width: 100%;
	}

	> * {
		display: inline-block;
		vertical-align: middle;
	}

	// color
	&-color-key {
		background: $color-key;
		border: 1px solid $color-key;
		color: #fff;
		&:active {
			background: mix($color-key, #000, 95%);
			border-color: mix($color-key, #000, 95%);
		}
	}
	&-color-complete {
		background: $color-complete;
		border: 1px solid $color-complete;
		color: #fff;
		&:active {
			background: mix($color-complete, #000, 95%);
			border-color: mix($color-complete, #000, 95%);
		}
	}
	&-color-error {
		background: $color-error;
		border: 1px solid $color-error;
		color: #fff;
		&:active {
			background: mix($color-error, #000, 95%);
			border-color: mix($color-error, #000, 95%);
		}
	}

	// size
	&-size-small {
		height: 34px;
		padding: 0 15px;
		font-size: 13px;
	}
	&-size-large {
		height: 50px;
		padding: 0 25px;
		font-size: 16px;
	}

	&[disabled] {
		background: $color-form-border;
		border: 1px solid $color-form-border;
		color: #fff;
		cursor: default;
	}
	&-inline {
		&[type=button],
		&[type=submit],
		&[type=reset] {
			display: inline-block;
			vertical-align: middle;
			width: auto;
		}
	}

	// loading
	&-loading {
		&#{$self}-inline {
			padding-right: 44px;
		}
		&#{$self}-size {

		}
	}
	&__loader {
		position: absolute;
		top: 50%;
		margin-top: -11px;
		right: 13px;
	}
}


// more
.buttonMore {
	$size: 58px;
	$size-icon: 19px;
	$size-icon-line: 3px;

	display: block;
	position: relative;
	cursor: pointer;
	width: $size;
	height: $size;
	margin: 0 auto;
	padding: 0;
	border: 1px solid $color-medium-gray;
	background: #fff;
	border-radius: 50%;
	font-size: 0;
	> i {
		position: relative;
		display: block;
		width: $size-icon;
		height: $size-icon;
		margin: 0 auto;
		&:before, &:after {
			content: '';
			display: block;
			position: absolute;
			background: $color-key;
		}
		&:before {
			width: $size-icon-line;
			left: 50%;
			top: 0;
			bottom: 0;
			margin-left: -#{$size-icon-line * .5};
		}
		&:after {
			height: $size-icon-line;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -#{$size-icon-line * .5};
		}
	}

	&:focus {
		outline: $border-focus;
	}

	&-loading {
		> i {
			animation: 2s roty infinite linear;
		}
	}
}