// contents components
@import "../variables";


// elements
* {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: $color-bg;
	color: $color-dark;
}
body, button, input {
	font-family: $font-basic;
}
a {
	color: $color-key;
}


// attributes
.blind {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}


// contents
.contents {
	&__header {
		margin: 0 0 20px;

		h1 {
			margin: 0;
			font-family: $font-qtum;
			text-transform: uppercase;
			font-size: 32px;
			letter-spacing: 1px;
		}
	}

	&__body {}

	&__box {
		margin: 15px 0;
		background: #fff;
		&-border {
			border: 1px solid $color-medium-gray;
		}
		&-shadow {
			box-shadow: 0 1px 6px rgba(0,0,0,.15);
		}
	}

	@media (max-width: $size-mobile) {
		&__header {
			margin: 0 0 15px;
			h1 {
				font-size: 24px;
			}
		}
	}
}


// text align and color
.text {
	&-left {
		text-align: left;
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-success {
		color: $color-complete;
	}
	&-error {
		color: $color-error;
	}
	&-key {
		color: $color-key;
	}
}


// description
.description {
	margin: 0;
	display: flex;
	align-items: center;
	padding: 6px 0;
	font-size: 14px;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
	> dt {
		flex: 1;
		color: #666;
	}
	> dd {
		margin: 0;
	}
	> dt, > dd {
		&.size-large {
			font-size: 18px;
		}
	}
	&-large {
		margin-top: 15px;
	}

	@media (max-width: $size-mini) {
		display: block;
		padding: 10px 15px;
		margin: 0 -15px;
		border-top: 1px dashed #ccc;
		&:first-child {
			border-top: none;
		}
		> dd {
			margin-top: 10px;
		}
		&-large {
			margin-top: inherit;
		}
	}
}


// table
.table {
	border: none;
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	thead {
		th {
			padding: 15px 8px;
			background: $color-medium-gray;
		}
		&.not-bg {
			th {
				background: none;
			}
		}
	}
	tbody {
		tr {
			border-top: 1px solid $color-medium-gray;
		}
		td {
			padding: 15px 8px;
		}
	}

	&-fixed {
		table-layout:fixed;
		tbody {
			td {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	&-border {
		border: 1px solid $color-medium-gray;
	}
}


// index
.index {}


// center contents
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}