@import "../variables";


$height-header: 54px;
$width-side: 220px;
$width-side-mini: 47px;


// header
.layout-header {

	$line-color: rgba(255,255,255,.15);

	height: $height-header;

	&__wrap {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 10;
		display: flex;
		height: $height-header;
		background: $color-dark;
	}

	&__logo {
		flex: 1;
		display: flex;
		margin: 0;
		a {
			display: flex;
			align-items: center;
			height: 100%;
			padding: 0 15px;
		}
		img {
			display: block;
		}
	}

	.headerSide {
		display: flex;
		&__wrap {
			display: flex;
			align-items: center;
			border-left: 1px solid $line-color;
			&:first-child {}
		}
		&__balance {
			display: flex;
			align-items: center;
			padding: 0 20px;
		}
		&__balanceText {
			font-size: 14px;
			font-style: normal;
			color: $color-key;
			font-family: $font-qtum;
		}
		&__settings {
			width: $height-header;
			justify-content: center;
			&:focus {
				outline: $border-focus;
			}
		}
	}

	.dropDown {
		$self: &;
		height: 100%;
		&__button {
			display: block;
			margin: 0;
			padding: 0;
			border: none;
			background: none;
			width: $height-header;
			height: 100%;
			cursor: pointer;
			&:focus {
				outline: $border-focus;
			}
			i {
				display: block;
				margin: 0 auto;
			}
		}
		&__children {
			position: relative;
			display: none;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				position: absolute;
				right: 0;
				top: 0;
				min-width: 150px;
				background: $color-dark;
			}
			li {
				border-top: 1px solid $line-color;
			}
			a, button {
				display: block;
				margin: 0;
				padding: 15px 15px 15px 20px;
				color: #fff;
				cursor: pointer;
				font-size: 14px;
				font-weight: 600;
				text-align: left;
				&:focus {
					outline: $border-focus;
				}
				&:hover {
					background: rgba(0,0,0,.2);
				}
			}
			a {
				text-decoration: none;
			}
			button {
				width: 100%;
				background: none;
				border: none;
			}
			&-profile {
				right: 0;
			}
		}

		&:hover {
			.dropDown__button {
				background: rgba(0,0,0,.2);
			}
			.dropDown__children {
				display: block;
			}
		}
	}

}


// side
.layout-side {
	position: fixed;
	top: $height-header;
	bottom: 0;
	left: 0;
	background: #fff;
	border-right: 1px solid $color-medium-gray;

	.toggle-sidebar {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		background: $color-key;
		font-size: 0;
		border: none;
		cursor: pointer;
		&:focus {
			outline: $border-focus;
		}
	}

	.gnb {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		a {
			display: flex;
			align-items: center;
			height: 46px;
			padding: 0 10px 0 12px;
			text-decoration: none;
			&:focus {
				outline: $border-focus;
			}
			&.nuxt-link-exact-active {
				background: $color-light-gray;
			}
		}
		i {
			display: block;
		}
		span {
			display: block;
			margin-left: 6px;
			color: $color-dark;
			font-family: $font-qtum;
			font-size: 13px;
		}
	}

	@media (max-width: $size-mobile) {
		.toggle-sidebar {
			display: none;
		}
	}
}


// container
.layout-container {
	&__sideWrap {
		width: $width-side;
	}
	&__side {
		width: $width-side;
	}
	&__body {
		margin-left: $width-side;
	}

	&-minimum-side {
		.layout-container {
			&__sideWrap {
				width: $width-side-mini;
			}
			&__side {
				width: $width-side-mini;
			}
			&__body {
				margin-left: $width-side-mini;
			}
		}
		.layout-side {
			.toggle-sidebar {
				i {
					transform: rotate(180deg);
				}
			}
			.gnb {
				span {
					display: none;
				}
				a {
					justify-content: center;
					padding: 0;
				}
			}
		}
	}

	@media (max-width: $size-mobile) {
		&__sideWrap {
			width: $width-side-mini;
		}
		&__side {
			width: $width-side-mini;
		}
		&__body {
			margin-left: $width-side-mini;
		}
		.layout-side {
			.gnb {
				span {
					display: none;
				}
				a {
					justify-content: center;
					padding: 0;
				}
			}
		}
	}
}


// body
.layout-body {
	padding: 30px;

	@media (max-width: $size-mobile) {
		padding: 15px;
	}
}


.layout-footer {
	margin: 50px 0 0;
	padding: 12px 0 0;
	border-top: 1px solid #ddd;
	text-align: right;
	.copyright {
		margin: 0;
		font-size: 11px;
		color: #666;
		a {
			color: $color-key;
		}
	}
}