@import "../variables";


.loader {
	$size: 50px;
	position: relative;
	display: block;
	width: $size;
	height: $size;
	margin: 0 auto;
	font-size: 0;

	&:before {
		content: '';
		width: 100%;
		height: 10%;
		background: #000;
		opacity: 0.1;
		position: absolute;
		bottom: 0;
		left: 0;
		border-radius: 50%;
		animation: shadow .5s linear infinite;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: $color-key;
		animation: animate .5s linear infinite;
		position: absolute;
		bottom: 32%;
		left: 0;
		border-radius: 5%;
	}

	&__wrap {
		text-align: center;
	}
	&__message {
		margin: 12px 0 0;
		font-size: 13px;
		color: $color-weak-dark;
	}

	@keyframes loader {
		0% { left: -100px }
		100% { left: 110%; }
	}
	@keyframes animate {
		17% { border-bottom-right-radius: 3px; }
		25% { transform: translateY(9px) rotate(22.5deg); }
		50% {
			transform: translateY(18px) scale(1,.9) rotate(45deg) ;
			border-bottom-right-radius: 75%;
		}
		75% { transform: translateY(9px) rotate(67.5deg); }
		100% { transform: translateY(0) rotate(90deg); }
	}
	@keyframes shadow {
		50% {
			transform: scale(1.2,1);
		}
	}
}
