// contents components
@import "../variables";


// elements
* {
	box-sizing: border-box;
}
body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	background: $color-bg;
	color: $color-dark;
}
body, button, input {
	font-family: $font-basic;
}
a {
	color: $color-key;
}


// attributes
.blind {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}


// contents
.contents {
	&__header {
		margin: 0 0 20px;
		h1 {
			margin: 0;
			font-family: $font-qtum;
			text-transform: uppercase;
			font-size: 32px;
			letter-spacing: 1px;
		}
	}
	&__body {}
	&__box {
		margin: 20px 0;
		background: #fff;
		&:first-child {
			margin-top: 0;
		}
		&-border {
			border: 1px solid $color-medium-gray;
		}
		&-shadow {
			box-shadow: 0 1px 6px rgba(0,0,0,.15);
		}
	}

	@media (max-width: $size-mobile) {
		&__header {
			margin: 0 0 15px;
			h1 {
				font-size: 24px;
			}
		}
	}
}


// text
.text {
	// align
	&-left {
		text-align: left;
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	// color
	&-success {
		color: $color-complete;
	}
	&-error {
		color: $color-error;
	}
	&-key {
		color: $color-key;
	}
	// brackets
	&-brackets {
		&-quotes {
			&:before, &:after { content: '"'; }
		}
	}
}


// description
.description {
	margin: 0;
	display: flex;
	align-items: center;
	padding: 6px 0;
	font-size: 13px;
	&:first-child {
		padding-top: 0;
	}
	&:last-child {
		padding-bottom: 0;
	}
	> dt {
		flex: 1;
		color: #666;
	}
	> dd {
		margin: 0;
	}
	> dt, > dd {
		&.size-large {
			font-size: 18px;
		}
	}

	@media (max-width: $size-mini) {
		display: block;
		padding: 10px 15px;
		margin: 0 -15px;
		border-top: 1px dashed #ccc;
		&:first-child {
			border-top: none;
		}
		> dd {
			margin-top: 10px;
		}
	}
}


// table
.table {
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	font-size: 13px;
	th, td {
		padding: 15px 12px;
	}
	thead {
		th {
			background: $color-medium-gray;
			font-size: 13px;
		}
		&.not-bg {
			th {
				background: none;
			}
		}
	}
	tbody {
		tr {
			border-top: 1px solid $color-medium-gray;
			&:hover {
				> td {
					background: $color-bg;
				}
			}
		}
	}

	&__responsive {
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		&-border {
			border: 1px solid $color-medium-gray;
		}
	}
	&__empty {
		td {
			padding: 50px 15px;
			text-align: center;
			font-size: 14px;
			color: $color-error;
		}
	}

	&-fixed {
		table-layout:fixed;
		tbody {
			td.overflow {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	&-border {
		border: 1px solid $color-medium-gray;
	}

	@media (max-width: $size-mobile) {
		display: block;
		width: auto;
		thead {
			display: none;
		}
		tbody {
			display: block;
			vertical-align: inherit;
			border-bottom: 1px solid $color-light-gray;
			tr {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				padding: 15px;
				border-top: 1px solid $color-light-gray;
				&:hover {
					> td {
						background: none;
					}
				}
			}
			td {
				display: block;
				padding: 8px 0 0;
				text-align: left;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				&:first-child {
					padding-top: 0;
				}
				&:before {
					content: '- 'attr(data-name)': ';
					color: mix($color-dark, #fff, 40%);
				}
			}
		}
		&__responsive {
			overflow: inherit;
			&-border {
				border: none;
			}
		}
	}
}


// index
.index {
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		padding: 13px 15px;
		border-top: 1px solid $color-medium-gray;
		&:first-child {
			border-top: none;
		}
		&-row {
			display: flex;
			align-items: center;
			min-width: 0;
		}
	}
	&__col {
		padding-left: 30px;
		&:first-child {
			padding-left: 0;
		}
		&-flex {
			flex: 1;
		}
		&-overflow {
			overflow: hidden;
		}
		&-type {
			text-transform: uppercase;
		}
	}
	&__date {
		margin: 0;
		font-size: 12px;
		color: $color-form-border;
	}
	&__metas {
		margin: 8px 0 0;
		font-size: 0;
		> span {
			display: inline-block;
			margin: 0 15px 0 0;
			vertical-align: middle;
			font-size: 13px;
			line-height: 16px;
			&:last-child {
				margin-right: 0;
			}
			> b {
				font-weight: normal;
				&:after {
					content: ': ';
				}
			}
			> em {
				font-style: normal;
			}
		}
	}
	&__description {
		margin: 8px 0 0;
		font-size: 12px;
		&-break-all {
			word-break: break-all;
		}
		&-nowrap {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
	&__type {
		margin: 0;
		font-size: 14px;
		font-weight: 600;
	}

	&-outline-v {
		border-top: 1px solid $color-medium-gray;
		border-bottom: 1px solid $color-medium-gray;
	}

	@media (max-width: $size-mini) {
		&__item {
			&-row {
				flex-direction: column;
				align-items: inherit;
			}
		}
		&__col {
			padding-left: 0;
			&-body {
				order: 2;
			}
			&-type {
				order: 1;
			}
		}
		&__metas {
			> span {
				display: block;
				margin: 3px 0;
				&:before {
					content: '- ';
				}
			}
		}
		&__type {
			margin: 0 0 5px;
			font-size: 16px;
		}
	}
}
.empty-index {
	margin: 0;
	padding: 40px 15px;
	text-align: center;
	font-size: 14px;
	color: $color-error;
	&-border {
		border: 1px solid $color-medium-gray;
	}
}


// center contents
.center-content {
	display: flex;
	align-items: center;
	justify-content: center;
}


// more article
.more-article {
	margin: 30px 0;
}
