@import "../variables";

.error {
	&__wrap {
		margin: 8vh 20px 15vh;
		text-align: center;
	}

	&__title {
		margin: 0;
		font-size: 48px;
		font-weight: 200;
		color: $color-error;
	}
	&__symbol {
		margin: 0;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__heading {
		margin: 30px 0 0;
		font-size: 16px;
	}
	&__description {
		margin: 15px 0 0;
		font-size: 13px;
	}
	&__nav {
		margin: 25px 0 0;
		text-align: center;
	}
	&__processing {
		margin-top: 40px;
	}
}