@import "../variables";


.login {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	&__body {
		display: block;
		background: #fff;
		min-width: 380px;
		padding: 42px 40px;
		margin: 0 0 30px;
		box-shadow: 0 2px 8px rgba(0,0,0,.15);
		border-radius: 3px;
	}
	&__logo {
		margin: 0 0 40px;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__form {
		margin: 0;
		fieldset {
			margin: 0;
			padding: 0;
			border: none;
		}
	}
	&__label {
		display: block;
		margin: 0 0 8px;
		font-size: 16px;
		font-weight: 600;
	}
	&__input {
		display: block;
		position: relative;
		height: 44px;
		i {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 2px;
			background: $color-medium-gray;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background: $color-key;
				transform: scaleX(0);
				transform-origin: 0 0;
				transition: transform .25s ease-out;
			}
		}
		input {
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			border: none;
			font-size: 16px;
			letter-spacing: .5px;
			background: none;
			&:focus {
				outline: none;
				& + i:after {
					transform: scaleX(1);
				}
			}
			&::placeholder {
				color: #aaa;
			}
			&:-webkit-autofill,
			&:-webkit-autofill:hover,
			&:-webkit-autofill:focus,
			&:-webkit-autofill {
				border: none;
				-webkit-text-fill-color: $color-dark;
				-webkit-box-shadow: 0 0 0 1000px mix(yellow, #fff, 15%) inset;
				padding: 0 10px;
			}
		}
	}
	&__options {
		margin: 10px 0 0;
	}
	&__rememberMe {
		margin: 0;
	}
	&__nav {
		margin: 20px 0 0;
		button {
			font-size: 16px;
		}
	}

	@media (max-width: $size-mini) {
		background: none;
		&__body {
			min-width: 240px;
			padding: 0 0 0;
			box-shadow: 0 0 0;
			background: none;
			border-radius: 0;
		}
	}
}